node_modules/
*.log
dist/*

# Do not exclude .gitkeep
!dist/.gitkeep

# Exclude debug scripts.
*.debug.js

# Zero-Installs
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
